<table class="table table-condensed table-bordered">
	<thead>
		<tr>
			<th>{{_("Buyer's name")}}</th>
			<th>{{_('Phone number')}}</th>
			<th>{{_('Order list')}}</th>
			<th>{{_('Order date')}}</th>
			<th>{{_('Paid')}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				Иванов Иван Иванович
			</td>
			<td>
				8-555-654-78-79
			</td>
			<td>
				<ul>
					<li>САИ А250 ПРО - 3 &ltшт.&gt</li>
				</ul>
			</td>
			<td>
				04.05.2016
			</td>
			<td>
				<span class="glyphicon glyphicon-ok"></span>
			</td>
		</tr>
		<tr>
			<td>
				ООО "Вектор"
			</td>
			<td>
				8-555-55-55-55
			</td>
			<td>
				<ul>
					<li>САИ А250 ПРО - 10 &ltшт.&gt</li>
					<li>САИ А350 ПРОМ - 20 &ltшт.&gt</li>
				</ul>
			</td>
			<td>
				06.06.2016
			</td>
			<td>
				<span class="glyphicon glyphicon-remove"></span>
			</td>
		</tr>

		{% for product in products %}
			<tr>
				<td>
					<a href="{{ url_for('.product', id=product.id)}}">
						<span class="glyphicon glyphicon-file"></span>
					</a>
				</td>
				<td>{{ product.name }}</td>
				<td>{{ product.stock }}</td>
				<td><{{ product.measure.name }}></td>
				<td>
					{% if product.type.assembled %}
						<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</td>
				<td>
					{% if product.type.marketable %}
						<span class="glyphicon glyphicon-ok"></span>
					{% else %}
						<span class="glyphicon glyphicon-remove"></span>
					{% endif %}
				</td>
				<td>
					{% if product.img_file %}
						<img src="{{ url_for('static', filename='images/'+product.img_file) }}", width="100", heigth="100">
					{% else %}
						<img src="{{ url_for('static', filename='images/none.png') }}", width="100", heigth="100">
					{% endif %}

				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>