<ul class="tasks">
	{% for task in tasks %}
		<li class="task">
			<div class="task-thumbnail">
				<a href="{{ url_for('.user', nickname=task.manager.nickname) }}">
					<img class="img-rounded profile-thumbnail"
					     src="{{ task.manager.gravatar(size=40) }}">
				</a>
			</div>
			<div class="task-content">
				<div class="task-date"> {{ task.timestamp }} </div>
				<div class="task-manager">
					<a href="{{ url_for('.user', nickname=task.manager.nickname) }}">
						{{ task.manager.nickname }} - {{ task.manager.fullname }}
					</a>
				</div>
				<div class="task-type">
					{{_('Task type:')}}{{ task.type.name }}
				</div>
				<div class="task-title {% if task.state %} task-complited
										{% else %} task-inprogress
										{% endif %}">
					{{ task.title }}
				</div>
				<div class="task-description">
					{% if task.description_html %}
						{{ task.description_html | safe }}
					{% else %}
						{{ task.description }}
					{% endif %}
				</div>
				{% if task.type.name=='Сборка' %}
					{{_('Products to assemble:')}}
						<ul>
						{% for thing in task.things %}
							<li>
								{{thing.thing.name}} - {{thing.amount}}
							</li>
						{% endfor %}
						</ul>
				{% endif %}
				{% if task.type.name=='Комплектация' %}
					{{_('Collect a package with:')}}
						<ul>
						{% for thing in task.things %}
							<li>
								{{thing.thing.name}} - {{thing.amount}}
							</li>
						{% endfor %}
						</ul>
				{% endif %}
				<div class="task-footer">
					<a href="{{ url_for('.task', id=task.id) }}">
						<span class="label label-default">#</span>
					</a>
					{% if current_user == task.manager %}
						<a href="{{ url_for('.edit_task', id=task.id) }}">
							<span class="label label-primary">{{_('Edit')}}</span>
						</a>
					{% elif current_user.is_allowed(Permission.ADMINISTRATING) %}
						<a href="{{ url_for('.edit_task', id=task.id) }}">
							<span class="label label-danger">{{_('Edit')}} [Admin]</span>
						</a>
					{% endif %}
				</div>
			</div>
		</li>
	{% endfor %}
</ul>