{% import "admin/lib.html" as lib %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends 'admin/master.html' %}


{% block body %}
	<div class="page-header">
		<h1>{{_('Analytics module')}}</h1>
		<h2>{{_('Choose report:')}}</h2>
		<a class="btn btn-default" href="{{ url_for('analytics.index', form='acf') }}">{{_('Assemled items')}}</a>
		<a class="btn btn-default" href="{{ url_for('analytics.index', form='acf') }}">{{_('Completed tasks')}}</a>
		<a class="btn btn-default" href="{{ url_for('analytics.index', form='acf') }}">{{_('Sales')}}</a>
		<a class="btn btn-default" href="{{ url_for('analytics.index', form='acf') }}">{{_('Shipments')}}</a>
	</div>
	{% if form %}

		{{ wtf.quick_form(form) }}
	{% endif %}
	<p>Hi</p>

{% endblock %}

{% block tail_js %}
	{{super()}}
	{{ lib.form_css() }}
	{{ lib.form_js() }}
{% endblock tail_js %}