{% extends 'admin/master.html' %}

{% block tail_js %}
{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='Chart.min.js') }}"></script>
	<script>
		var ctx = document.getElementById("myChart");
		ctx.canvas.width = 300;
		ctx.canvas.height = 300;
	</script>
	<script>
		var data = JSON.parse('{{ data|safe }}');
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='barchart.js') }}"></script>

{% endblock tail_js %}
{% block body %}
	<p>Hi</p>
		<canvas style="width: 500px; height: 500px;" id="myChart" width="500" height="500"></canvas>
<script>
		console.log(JSON.parse('{{ data }})')
	</script>
	<p>
	<h3>Всего собрано аппаратов:</h3>
		{% for part in total %}
			{{ part[0] }} год - {{ part[1] }}<br>
		{% endfor %}
	</p>
	<h3>В среднем за месяц:</h3>
	<p>
		{% for part in total %}
			{{ part[0] }} год - {% if part[1]/12<1 %} менее одного
								{% else %} {{ part[1]/12 }}
								{% endif %}<br>
		{% endfor %}
	</p>
{% endblock %}