{% import "helpers/_macros.html" as macros %}


{% extends "base.html" %}
{% block page_header %}
	<h1>{{_('Depot')}}</h1>
	{% if current_user.is_allowed(Permission.DEPOT_M) %}
		<a class="btn btn-default"
           href="{{ url_for('.new_thing') }}">
            {{_('Add items')}}
        </a>
	{% endif %}
{% endblock page_header %}
{% block page_body %}
	{% if things %}
		{% include 'helpers/_things.html' %}
		{% if pagination %}
			<div class="pagination">
				{{ macros.pagination_widget(pagination, '.depot') }}
			</div>
		{% endif %}
	{% endif %}
{% endblock page_body %}