{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='Markdown.Converter.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='Markdown.Sanitizer.min.js') }}"></script>
{% endblock scripts %}

{% block page_header %}
	<h1>{{_('Edit task')}} {% if user and user!=current_user and current_user.is_allowed(Permission.ADMINISTRATING) %}
		<!-- TODO look for a better way to check if user is admin and changing another's profile -->
		[Admin]
		{% endif %}
	</h1>
{% endblock page_header %}

{% block page_body %}
	{{ wtf.quick_form(form) }}
{% endblock page_body %}