{% extends "base.html" %}
{% block page_header %}
		<h1>
			{{_('Task')}} # {{ task.id }}
		</h1>
{% endblock page_header %}
{% block page_body %}
<div class="task">
	<div class="task-content">
		<div class="task-date"> Assigned: {{ task.timestamp }} </div>
		<div class="task-date"> Timelimit: {{ task.timestamp }} </div>
		<div class="task-manager">
			{{_('manager')}}:
			<a href="{{ url_for('.user', nickname=task.manager.nickname) }}">
				{{ task.manager.nickname }}
			</a>
		</div>
		<div class="task-worker">
			{{_('worker')}}:
			<a href="{{ url_for('.user', nickname=task.manager.nickname) }}">
				{{ task.worker.nickname }}
			</a>
		</div>
		<div class="task-title {% if task.state %} task-complited
								{% else %} task-inprogress
								{% endif %}">
			{{ task.title }}
		</div>
		<div class="task-description">
			{% if task.description_html %}
				{{ task.description_html | safe }}
			{% else %}
				{{ task.description }}
			{% endif %}
		</div>
		<div class="task-footer">
		{% if task.manager == current_user %}
			<a href="{{ url_for('.edit_task', id=task.id) }}"
				class="btn btn-default">{{_('Edit')}}</a>
			<a href="{{ url_for('.delete_task', id=task.id) }}"
		       class="btn btn-warning">{{_('Delete')}}</a>
		{% elif current_user.is_allowed(Permission.ADMINISTRATING) %}
			<a href="{{ url_for('.edit_task', id=task.id) }}"
				class="btn btn-warning">{{_('Edit')}} [Admin]</a>
			<a href="{{ url_for('.delete_task', id=task.id) }}"
		        class="btn btn-danger">{{_('Delete')}} [Admin]</a>
		{% endif %}
		<!-- TODO: dummy cap -->
		<a href="" class="btn btn-default">{{_('Done!')}}</a>
		</div>

	</div>

</div>
{% endblock page_body %}